/* universal styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

.text-orange {
  color: #d4574a;
}

.text-blue {
  color: #509cd8;
}

.text-bottom {
  color: rgb(176, 178, 185);
}

.bg-orange {
  background-color: #d4574a;
}

.bg-grey {
  background-color: #99a4a5;
}

.bg-blue {
  background-color: #509cd8;
}

.bg-bottom {
  background-color: #1f1f1f;
}

/* navigation bar */

header {
  height: 50px;
}

header .nav-bar .nav-bar-title {
  font-family: 'Righteous', cursive;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.3rem 0 0 1rem;
}

header .nav-bar ul li {
  padding: 0.8rem;
}

header .nav-bar ul li a {
  font-size: 0.8rem;
  color: #fff;
}

/* showcase */

.showcase {
  background: linear-gradient(to right, rgba(5, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('images/showcase_2.jpg') no-repeat center center/cover;
  height: 100vh;
}

.showcase-body {
  text-align: center;
  padding-top: 10%;
}

.showcase-input-body {
  background: rgb(176, 178, 185);
  padding: 2rem;
  border-radius: 0.8rem;
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
  box-sizing: border-box;
}

.showcase-input-body h5 {
  font-size: 0.9rem;
  font-weight: 700;
}

.showcase-input {
  width: 40rem;
  height: 2.5rem;
}

.showcase-btn {
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.showcase-btn-2 {
  background: rgb(176, 178, 185);
  color: #fff;
  border-radius: 0.1rem;
  margin-top: 12%;
}

/* how it works */

.how-it-works {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 50px;
}

.card h4 {
  font-size: 1rem;
}

/* third section */

.card-image {
  border-radius: 50%;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.section-3-container {
  width: 70%;
  margin: 0 auto;
}

.section-3 {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 20px;
}

/* footer */
footer,
.subscribe-input input {
  background-color: #000;
}

.footer-middle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.footer-top li a {
  font-size: 0.8rem;
}

.footer-header {
  font-size: 1rem;
}

.subscribe-input input {
  width: 200px;
  height: 25px;
}

.contact p {
  font-size: .7rem ;
}

footer ul li {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

footer ul li a,
header .nav-bar ul li a,
header .nav-bar .nav-bar-title,
.showcase a {
  text-decoration: none;
}

footer .footer-logo {
  border-radius: 50%;
  border: 1px solid #fff;
  height:60px;
  width:60px;
}

.copyright span {
  font-size: 0.5rem;
}
